@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

$fontfamily: "Lato";
$minwidth: 320px;

@import "nullstyle.scss";

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0 30px;
	margin: 0 auto;
}

@import "ui.scss";
@import "header.scss";
@import "footer.scss";

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.generation {
	padding: 120px 0;
	background-color: #f7f7f7;

	@media (max-width: 900px) {
		padding: 80px 0;
	}

	@media (max-width: 900px) {
		padding: 30px 0;
	}
}

//2 block
.block {
	text-align: center;

	&__icon {
		padding: 0 0 30px 0;
	}

	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 3.6px;
		margin: 0 0 18px 0;
	}

	&__text {
		color: #848789;
		font-size: 18px;
		line-height: 34px;

		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;

			&:after {
				content: "";
				display: block;
				margin: 35px auto 0 auto;
				width: 50px;
				height: 1px;
				background-color: #ebebeb;
			}
		}
	}

	@media (max-width: 1500px) {
		&__text {
			&_j {
				&:after {
					margin: 15px auto 0 auto;
				}
			}
		}
	}
}

//3 block
.brands {
	&_rev {
		.brands__column {
			order: 1;

			&_b {
				order: 2;
			}
		}
	}

	&_last {
	}

	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;

		&_b {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;

		//разрез в виде треугольника
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}

	&__image {
		padding: 0px 0px 37.5% 0px;
	}

	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}

	@media (max-width: 1100px) {
		&_last {
			.brands__column {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
				&:nth-child(3) {
					order: 3;
				}
			}
		}
		&__row {
			flex-direction: column;
		}
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;

	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		transition: all 0.3s ease 0s;
		justify-content: center;
		align-items: center;
		background-color: rgba(100, 194, 158, 0.5);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (max-width: 1100px) {
		height: auto;
		padding: 0 0 70% 0;
	}
}

.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;

	&__body {
		
	}

	&__item {
		text-align: center;
	}

	&__icon {
		margin: 0 0 35px 0;
	}

	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 20px 0;
		span {
			font-weight: 300;
			color: #848789;
		}
	}

	&__text {
		text-align: center;
		color: #848789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	}
}
