@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

$fontfamily:"Lato";
$minwidth: 320px;

@import "nullstyle.scss";

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0 30px;
}

@import "ui.scss";
@import "header.scss";
@import "footer.scss";

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 1 100%;
	position: relative;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}